<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles/app.css" />
    <script>
      window.__INITIAL__DATA__ = {{{initialData}}}
    </script>
  </head>
  <body>
    <div id="page-header">
      <strong>App Header</strong>
    </div>
    <div id="page-content">{{{component}}}</div>
    <script src="public/{{bundleName}}.js"></script>
  </body>
</html>