// This file is automatically copied to each directory in views/ when 
// webpack builds it's bundles. It hydrates the component for that page.

import React from "react"
import ReactDOM from "react-dom"
import Component from "./"

ReactDOM.hydrate(
  <Component {...(window as any).__INITIAL__DATA__} />,
  document.getElementById("page-content")
)
